body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  padding: 0 16px;
  margin: 50px auto 0;

  h1 {
    margin: 0;
    text-align: center;
    color: #272727;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;

    span {
      color: #999;
    }
  }
}
